<!DOCTYPE html>


<body>
<!-- Navbar -->
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-body-tertiary">
      
     

        <div class="py-2 text-center">
          <center>
            <div class="textCard text-center p-3" style="background-color: rgba(0, 0, 0, 0); color: Black">
              © 2024 Copyright: All right reserved &nbsp&nbsp&nbsp&nbsp
              <a class="textCard  fa fa-phone "  style="color: #055f69;"  href="tel:0549053295">0549053295</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <i class="textCard"  style="color: #045f69;" href="mailto:ayittey.og@gmail.com"><span class='fas fa-envelope' style='font-size:18px;color:red'></span>&nbsp mail</i>
            </div>
          </center> 
        </div>
         
     
   
  </nav>
  <!-- Navbar -->

</body>
</html>