<!DOCTYPE html>


<body>
<!-- Navbar -->
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-body-tertiary">
      
     

        <div class="py-2 text-center">
          <center>
            <div class="textCard text-center p-3" style="background-color: rgba(0, 0, 0, 0); color: Black">
              © 2024 Copyright: All right reserved 
              <a class="textCard"  style="color: #055f69;" href="#">0549053295</a>
            </div>
          </center> 
        </div>
         
     
   
  </nav>
  <!-- Navbar -->

</body>
</html>