<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title></title>
</head>
<body>

 {% block content %}
  
  {% include 'navbar.html' with usr=usr %}

  <br><br> <br>

          <div class="container-fluid">
            <center>
                <div class="col-lg-6">               
                    <img src="../static/img/memb1.png" alt="" width="180" height="180">                   
                </div>  
                <a href="{% url 'membership' %}">Membership</a>
            </center>    
          </div>
          <br>

          <div class="container-fluid">
            <center>
                <div class="col-lg-6">               
                    <img src="../static/img/dpt1.jpg" alt="" width="180" height="180">                   
                </div>  
                <a href="#">Departments</a>
            </center>    
          </div>
    

      {% include 'footbar.html' %}
  
      {% endblock %}
</body>
</html>

