<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    
    <title></title>
</head>
<body>

    {% block content %}
    {% include 'navbar.html'%}

    <br><br> <br>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
        <li class="breadcrumb-item active  data-bs-toggle="modal" data-bs-target="#solutionModal"" aria-current="page">Membership  </li>
        <li class="card-text"  data-bs-toggle="modal" data-bs-target="#solutionModal"><i class='fas fa-info-circle' style='font-size:15px;color:red'></i></li> 
      </ol>
    </nav>





    <div class="container-fluid">
        <input type="text" id="srchInput" onkeyup="SRCHfunction()" placeholder="Search for member" title="Type in a name">   
    </div>

    
    <div class="container-fluid">         
      <ul id="srchItem">
        {% for i in lst %}
            <li>  
            <center>
              <div class="card mb-3" style="max-width: 500px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{% static 'img/icon.png' %}" class="img-fluid rounded-start" alt="..." width="100" height="150"> 
                      
                      
                      <p class="" style="text-align: center;">
                        <small class="textStatus1">{{i.get_cstatus}}</small>   
                     </p>
                      
                    
                    </div>
                    <div class="col-md-8">
                      <div class="card-body"  style="background-color: rgb(202, 237, 240);">

                        <h4 class="textCard" style="text-align: left;"> <a href="">Name: {{i.get_name}}</a></h4>

                        <h6 class="textCard" style="text-align: left;" > Profession: 
                          <span class="far fa-address-card" style="font-size:15px;color:rgb(5, 28, 92)" style="font-size:48px;color:red"></span> 
                          {{i.get_profession}}</h6>

                        
                        <h6 class="textCard" style="text-align: left;" > Residence: 
                          <span class="fa fa-map-marker" style="font-size:15px;color:rgb(66, 4, 4)"></span> 
                          {{i.get_residence}}</h6>

                        <p class="card-text" style="text-align: left;">
                           <small class="textCard1">Marital Status: {{i.get_mstatus}}</small>
                           <a href="tel: {{i.contact}}">{{i.get_contact}}  <span class="fa fa-phone"></span></a>
                             
                        </p>


                      </div>
                    </div>
                  </div>
              </div>  
          </center>
          </li>        
        {% endfor %}
      </ul>           
    </div>
     
    


    <!--Modal-->
    <div class="modal fade" id="solutionModal" tabindex="-1" aria-labelledby="solutionModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-top">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 textCard" id="solutionModalLabel">Membership:  {{T}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
                <h6  class="textStatus"> Active      : {{A}} </h6>
                <h5  class="textStatus"> Non Active  : {{NA}} </h5>
                <h5  class="textStatus"> Male        : {{M}} </h5>
                <h5  class="textStatus"> Female      : {{F}} </h5>
                <h5  class="textStatus"> Married     : {{Mr}} </h5>
                <h5  class="textStatus"> Single      : {{S}} </h5>

          </div>                      
        </div>
      </div>
    </div>


    {% include 'footbar.html'%}
    {% endblock %}



    
</body>
</html>


   